name: Update wakatime stats

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "5 0 * * *"

jobs:
  build:
    name: Update-waka-stats
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
    env:
      WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
      GIST_ID: b3f90cfdb958d2401b019f821c34c859
      MARKDOWN_FILE: README.md

    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4.1.0
      
      - name: Check out repo
        uses: actions/checkout@v3
        
      - name: Clone and run waka-box
        run: |-
          git clone https://github.com/yiningv/waka-box.git
          cd waka-box && pip install -r requirements.txt
          cp wakabox.py ../ && cd .. && rm -rf waka-box
          python wakabox.py
          
      - name: Commit and push
        run: |-
          git config --global user.email "bot@github.com" && git config --global user.name "Waka-Bot"
          git diff
          git add README.md && git commit -m ":memo: update profile" || exit 0
          git pull --rebase && git push
